<div class="general-container-dhp" padding-x-8>
  <mat-accordion *ngFor="let specialities of history">

    <!-- start medical speciality 1 -->
    <mat-expansion-panel *ngFor="let speciality of specialities.speciality" class="expantion-panel-1" (opened)="panelOpenState1 = true"
      (closed)="panelOpenState1 = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{speciality.name}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{panelOpenState1 ? '' : 'Click para desplegar los casos'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="p-1"></div>

      <!-- start medical case 1 -->
      <mat-expansion-panel *ngFor="let case of speciality.case_medical" class="expantion-panel-2 mt-2" (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false">


        <mat-expansion-panel-header class="">
          <mat-panel-title>
            {{ case.name }}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState2 ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- start medical visit -->
        <mat-expansion-panel *ngFor="let item of case.consultation; let index = index" class="expantion-panel-3" (opened)="panelOpenState3 = true"
          (closed)="panelOpenState3 = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Consulta {{ index + 1 }}
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState3 ? 'open' : 'closed'}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="content-visit pt-3">
              <mat-tab-group class="justify-content-center">
                <mat-tab label="Síntomas"> 
                  Síntomas
                </mat-tab>
                <mat-tab label="Diagnóstico"> 
                  Diagnóstico
                </mat-tab>
                <mat-tab label="Exámenes"> 
                  Exámenes
                </mat-tab>
                <mat-tab label="Tratamiento"> 
                  Tratamiento
                </mat-tab>
              </mat-tab-group>
          </div>

        </mat-expansion-panel>
        <!-- end medical visit -->

      </mat-expansion-panel>
      <!-- end medical case 1 -->

    </mat-expansion-panel>
    <!-- end medical speciality 1 -->


  </mat-accordion>
</div>