<div class="general-container-dhp" padding-x-8>
  <mat-accordion *ngFor="let specialities of history">

    <!-- start medical speciality 1 -->
    <mat-expansion-panel *ngFor="let speciality of specialities.speciality" class="expantion-panel-1" (opened)="panelOpenState1($event, true)"
      (closed)="panelOpenState1($event, false)">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{speciality.name}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{panelOpenState1 ? '' : 'Click para desplegar los casos'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="p-1"></div>

      <!-- start medical case 1 -->
      <mat-expansion-panel *ngFor="let case of speciality.case_medical" class="expantion-panel-2 mt-2" (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false">


        <mat-expansion-panel-header class="">
          <mat-panel-title>
            {{ case.name }}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState2 ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- start medical visit -->
        <mat-expansion-panel *ngFor="let consult of case.consultation; let index = index" class="expantion-panel-3" (opened)="panelOpenState3 = true"
          (closed)="panelOpenState3 = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Consulta del {{ consult.date_consultation }} con el Dr(a) {{ consult.doctor }}
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState3 ? 'open' : 'closed'}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="content-visit pt-3">
              <mat-tab-group class="justify-content-center">
                <mat-tab *ngIf="consult.symptom.length > 0" label="Síntomas"> 
                  <p *ngFor="let symptom of consult.symptom" class="m-0">{{ symptom }}</p>
                </mat-tab>
                <mat-tab *ngIf="consult.diagnosis" label="Diagnóstico"> 
                  <p class="m-0"> {{ consult.diagnosis }}</p>
                </mat-tab>
                <mat-tab *ngIf="consult.exams.length > 0" label="Exámenes"> 
                  <p *ngFor="let exam of consult.exams" class="m-0"> {{ exam }} </p>
                </mat-tab>
                <mat-tab *ngIf="consult.indications" label="Preescripción"> 
                  <p class="m-0">{{ consult.indications }}</p>
                </mat-tab>
                <mat-tab *ngIf="consult.medication.length > 0" label="Medicación"> 
                  <p *ngFor="let medicine of consult.medication" class="m-0"> {{ medicine.name }}</p>
                </mat-tab>
              </mat-tab-group>
          </div>

        </mat-expansion-panel>
        <!-- end medical visit -->

      </mat-expansion-panel>
      <!-- end medical case 1 -->

    </mat-expansion-panel>
    <!-- end medical speciality 1 -->


  </mat-accordion>
</div>