<mat-toolbar>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <img class="logo-qh" src="assets/imgs/logo_quark_health.png" alt="">
      </div>
      <span *ngIf="registering" color-700>  

        Registro de consulta
        <i class="material-icons ml-1" color-700 text-size-22>
          border_color
        </i>

      </span>

      <div class="d-flex align-items-center" >
        
        <span class="d-flex mr-2">

          <div class="mr-3 mt-1" color-700 text-size-14 line-height-14>
            <p class="m-0 text-right">
              Nombre Doctor
            </p>
            <p class="m-0 text-right">
              Especialidad
            </p>
          </div>

          <div class="d-flex justify-content-center align-items-center" border-radius-circle overflow-hidden sq-46>
            <img class="img-user-header" src="https://randomuser.me/api/portraits/thumb/women/65.jpg" alt="">
          </div>

        </span>

        <i class="material-icons" text-size-28 color-600>
          exit_to_app
        </i>

      </div>

    </div>
  </div>
</mat-toolbar>
