<div class="d-flex justify-content-between flex-wrap mt-4">
  <div class="row w-100">
    <div class="order-md-6 col-md-5 col-sm-12 mb-4 pr-0" padding-l-16>

      <div *ngIf="fieldsForm.model != ''" class="px-5">
        <img class="w-100" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
      </div>

    </div>
    <div class="order-md-1 col-md-7 col-sm-12" padding-l-16>

      <mat-form-field class="w-100">
        <input matInput color-800 text-size-40 placeholder="Introduzca el RUT" appRut2 [(ngModel)]="fieldsForm.model">
      </mat-form-field>

      <div *ngIf="fieldsForm.model != ''">

        <p color-800 class="m-0">
          <span text-weight-100 color-600>Nombre(s): </span> {{ fieldsForm.first_name }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Apellidos: </span> {{ fieldsForm.last_name }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Nacimiento: </span> {{ fieldsForm.birthdate }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Edad: </span> {{ fieldsForm.age }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Sexo: </span> {{ fieldsForm.sex }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Rut: </span> {{ fieldsForm.number_identification }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Nacionalidad: </span> {{ fieldsForm.nacionality }}</p>
        <p color-800 class="m-0">
          <span text-weight-100 color-600>Previsión: </span> {{ fieldsForm.forecast }}</p>

        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Región: </span> {{ fieldsForm.region }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Comuna: </span> {{ fieldsForm.commune }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Calle: </span> {{ fieldsForm.street }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Número: </span> {{ fieldsForm.number }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Tipo de vivienda: </span> {{ fieldsForm.type_housing }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Teléfono: </span> {{ fieldsForm.telephone }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Correo: </span> {{ fieldsForm.email }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Teléfono de emergencia: </span> {{ fieldsForm.telephone_emergency }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Antecedentes mórbidos: </span> {{ fieldsForm.morbid_background }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Antecedentes ginecobstétricos: </span> {{ fieldsForm.gyneco_obstetric_history }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Cirugías: </span> {{ fieldsForm.surgeries }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Hábitos: </span> {{ fieldsForm.habits }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Medicamentos usados: </span> {{ fieldsForm.commonly_used_medications }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Alergias: </span> {{ fieldsForm.allergies }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Antecedentes sociales y personales: </span> {{ fieldsForm.social_personal_background }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Antecedentes familiares: </span> {{ fieldsForm.family_background }}</p>
        <p color-800 class="m-0 d-none">
          <span text-weight-100 color-600>Inmunización: </span> {{ fieldsForm.immunizations }}</p>
      </div>

    </div>

  </div>