<div class="general-container">


<mat-toolbar>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <div border-radius-circle overflow-hidden sq-46>
          <img class="img-user-header" src="https://fakeimg.pl/100x100/" alt="">
        </div>
        <div class="ml-3 text-info mt-1" text-size-14 line-height-14>
            <p class="m-0">
              Nombre Doctor
            </p>
            <p class="m-0">
              Especialidad
            </p>
        </div>
      </span>
      <i class="material-icons" color-500>
          exit_to_app
          </i>

    </div>
  </div>
</mat-toolbar>
<div class="container">
  <div class="d-flex justify-content-between flex-wrap mt-5">
      <mat-form-field class="col-6 pl-0">
        <input matInput placeholder="RUT" [(ngModel)]="fieldsForm.number_identification" >
      </mat-form-field>
      <mat-form-field class="col-6 pl-0">
        <input matInput [(ngModel)]="fieldsForm.first_name" placeholder="Primer Nombre">
      </mat-form-field>
      <mat-form-field class="col-6 pl-0">
        <input matInput [(ngModel)]="fieldsForm.last_name" placeholder="Segundo Nombre">
      </mat-form-field>
      <mat-form-field class="col-6 pl-0">
        <input matInput placeholder="RUT" [(ngModel)]="fieldsForm.number_identification" >
      </mat-form-field>
      <mat-form-field class="col-6 pl-0">
        <input matInput [(ngModel)]="fieldsForm.first_name" placeholder="Primer Nombre">
      </mat-form-field>
      <mat-form-field class="col-6 pl-0">
        <input matInput [(ngModel)]="fieldsForm.last_name" placeholder="Segundo Nombre">
      </mat-form-field>



  </div>

</div>

</div>





