<app-header></app-header>
<div class="general-container pb-5">

  <div class="container p-0">

    <app-review-patient [fieldsForm]="fieldsForm"></app-review-patient>

    <div *ngIf="fieldsForm.model.length < 11" class="d-flex justify-content-center w-100 mt-5 pt-5" cursor-pointer>
      <span>
        <button color="primary" no-outline mat-button mat-stroked-button mat-fab no-select>
          <i class="material-icons add-icon" text-size-33>
            add
          </i>
        </button>
        <span class="pl-2">Registrar paciente</span>
      </span>
    </div>

    <div *ngIf="fieldsForm.model.length > 11" class="d-flex justify-content-end w-100 mt-5 pb-3" padding-x-8>

      <button routerLink="/form-patient" class="btn-add-visit text-uppercase" text-size-18 mat-raised-button color="primary">
        <span text-weight-200> Agregar consulta </span>
      </button>

    </div>

    <app-detail-history-patient *ngIf="fieldsForm.model.length > 11">

    </app-detail-history-patient>


  </div>

</div>