/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import './_helpers-attr.scss';


.expantion-panel {
    &-1 {

    }
    &-2 {
        & > .mat-expansion-panel-content {
            & > .mat-expansion-panel-body {
                padding: {
                    left: 0px  !important;
                    right: 0px  !important;
                    bottom: 0px !important;
                }
            }
        }

    }
}